body {
  background-color: #E3FDFD;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  height: 0px;
  width: 5%;
}

img {
  height: 150px;
  width: 150px;
}

h3,h1
{
  color: #66BFBF;
}

h1
{
  font-family: Brush Script MT;
}
h3
{
  font-family: Papyrus;
}
